[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Platypus"]
	path = Platypus
	url = https://github.com/alexyermanos/platypus
[submodule "VDJgermlines"]
	path = VDJgermlines
	url = https://github.com/cran/VDJgermlines
